<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.usf.EventExpress"
          android:versionCode="1"
          android:versionName="0.1">
    <permission android:name="edu.usf.EventExpress.permission.MAPS_RECEIVE"
                android:protectionLevel="signature"/>
    <uses-permission android:name="edu.usf.EventExpress.permission.MAPS_RECEIVE"/>

    <uses-sdk android:minSdkVersion="16"
              android:targetSdkVersion="21"/>
    <!-- Google Cloud Messaging requires:
    c2dm.permission.RECEIVE, INTERNET, GET_ACCOUNTS, WAKE_LOCK, C2D_MESSAGE, c2dm.intent.RECEIVE, c2dm.SEND -->
    <!-- SyncAdapter requires INTERNET, READ_SYNC_SETTINGS, WRITE_SYNC_SETTINGS, AUTHENTICATE_ACCOUNTS -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="edu.usf.EventExpress.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="edu.usf.EventExpress.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true" />
    <application
            android:icon="@drawable/eventexpressicon"
            android:label="@string/app_name"
            android:allowBackup="true">
        <uses-library android:name="com.google.android.maps"
                      android:required="true"/>
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.maps.v2.API_KEY"
                   android:value="AIzaSyAnzDluK9QpO7UQMGAdAIh7b8UcVCZUtgg"/>
        <activity
                android:name=".GoogleLoginActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--<activity android:name=".newUser"/>
        <activity android:name=".mainScreen"/>-->
        <activity android:name=".Friendslist"/>
        <activity android:name=".Friendslist_ViewRequests"/>
        <activity android:name=".EventMenu"/>
        <activity android:name=".Event_myevents"/>
        <!--<activity android:name=".createEvent"/>-->
        <activity android:name=".Event_Invitations"/>
        <activity android:name=".Event_Attending"/>
        <!--<activity android:name=".Events_Area"/>-->
        <activity android:name=".Event_Detail"/>
        <activity android:name=".Event_Detail_Host"/>
        <activity android:name=".Event_Map"/>
        <activity android:name=".Edit_Event"/>
        <activity android:name=".Friend_Invite"/>

        <provider
                android:name=".provider.EventProvider"
                android:authorities="edu.usf.EventExpress.provider"
                android:exported="false"/>
        <receiver
                android:name=".gcm.GcmBroadcastReceiver"
                android:permission="com.google.android.c2dm.permission.SEND" >
                <intent-filter>
                    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                    <category android:name="edu.usf.EventExpress" />
                </intent-filter>
        </receiver>
        <service android:name=".gcm.GcmIntentService" />
        <service android:name=".auth.AuthenticatorService"
                android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                    android:name="android.accounts.AccountAuthenticator"
                    android:resource="@xml/authenticator" />
        </service>
        <service android:name=".sync.SyncService"
                 android:exported="false"
                 android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                       android:resource="@xml/syncadapter" />
        </service>
    </application>
</manifest>
